{% extends template('page-layout-main') %}

{% define data = {
    helloSpryker: _view.helloSpryker
} %}

{% block content %}
    <div>
        <h2>{{ data.helloSpryker }}</h2>
    </div>
{% endblock %}
